body{
  background-color: rgb(238, 166, 32);
}
li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 500px;
  margin: 500px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
.burgerimg {
  padding-left: 650px;
}
h1{
  padding-left: 730px;
}
h2{
  padding-left: 730px;
}
.create-form{
  padding-left: 680px;
}
